{% extends 'includes/header.html.twig' %}

{% block title %}Facturas
{% endblock %}

{% block main_content %}
	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
		<h1 class="h2">Facturas</h1>

		<a type="button" class="btn btn-primary" href="{{path('app_invoice_new')}}">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-dotted" viewbox="0 0 16 16">
				<path d="M8 0q-.264 0-.523.017l.064.998a7 7 0 0 1 .918 0l.064-.998A8 8 0 0 0 8 0M6.44.152q-.52.104-1.012.27l.321.948q.43-.147.884-.237L6.44.153zm4.132.271a8 8 0 0 0-1.011-.27l-.194.98q.453.09.884.237zm1.873.925a8 8 0 0 0-.906-.524l-.443.896q.413.205.793.459zM4.46.824q-.471.233-.905.524l.556.83a7 7 0 0 1 .793-.458zM2.725 1.985q-.394.346-.74.74l.752.66q.303-.345.648-.648zm11.29.74a8 8 0 0 0-.74-.74l-.66.752q.346.303.648.648zm1.161 1.735a8 8 0 0 0-.524-.905l-.83.556q.254.38.458.793l.896-.443zM1.348 3.555q-.292.433-.524.906l.896.443q.205-.413.459-.793zM.423 5.428a8 8 0 0 0-.27 1.011l.98.194q.09-.453.237-.884zM15.848 6.44a8 8 0 0 0-.27-1.012l-.948.321q.147.43.237.884zM.017 7.477a8 8 0 0 0 0 1.046l.998-.064a7 7 0 0 1 0-.918zM16 8a8 8 0 0 0-.017-.523l-.998.064a7 7 0 0 1 0 .918l.998.064A8 8 0 0 0 16 8M.152 9.56q.104.52.27 1.012l.948-.321a7 7 0 0 1-.237-.884l-.98.194zm15.425 1.012q.168-.493.27-1.011l-.98-.194q-.09.453-.237.884zM.824 11.54a8 8 0 0 0 .524.905l.83-.556a7 7 0 0 1-.458-.793zm13.828.905q.292-.434.524-.906l-.896-.443q-.205.413-.459.793zm-12.667.83q.346.394.74.74l.66-.752a7 7 0 0 1-.648-.648zm11.29.74q.394-.346.74-.74l-.752-.66q-.302.346-.648.648zm-1.735 1.161q.471-.233.905-.524l-.556-.83a7 7 0 0 1-.793.458zm-7.985-.524q.434.292.906.524l.443-.896a7 7 0 0 1-.793-.459zm1.873.925q.493.168 1.011.27l.194-.98a7 7 0 0 1-.884-.237zm4.132.271a8 8 0 0 0 1.012-.27l-.321-.948a7 7 0 0 1-.884.237l.194.98zm-2.083.135a8 8 0 0 0 1.046 0l-.064-.998a7 7 0 0 1-.918 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
			</svg>
			Agregar Factura
		</a>
	</div>

	<div class="table-responsive small">
		<form class="row g-3" method="post" action="">
			<div class="col-auto">
				<input type="text" class="form-control" id="usuario_id" name="usuario_id" placeholder="Filtrar por ID del cliente...">
			</div>
			<div class="col-auto">
				<select class="form-select" id="estado" name="estado" aria-label="Selecciona un estado">
					<option selected value="" hidden>Selecciona un estado</option>
					<option value="Pagada">Pagada</option>
					<option value="Pendiente">Pendiente</option>
				</select>
			</div>
			<div class="col-auto">
				<button type="submit" class="btn btn-primary mb-3">Filtrar</button>
			</div>
		</form>

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
					{{ message }}
					<button
						type="button" class="btn-close" data-dismiss="alert" aria-label="Close">{# <span aria-hidden="true">&times;</span> #}
					</button>
				</div>
			{% endfor %}
		{% endfor %}

		<div
			class="row">
			<!-- Aquí se mostrarán las facturas en forma de tabla -->
			<div class="col">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" style="width: 5%;">ID</th>
								<th scope="col" style="width: 10%;">Cliente</th>
								<th scope="col" style="width: 10%;">Fecha de Emisión</th>
								<th scope="col" style="width: 10%;">Estado</th>
								<th scope="col" style="width: 10%;">Monto</th>
								<th scope="col" style="width: 5%;">Acciones</th>
							</tr>
						</thead>
						<tbody>
							{% for invoice in invoices %}

								<tr>
									{# <td>{{ invoice.id }}</td> #}
									<td>

										{# <button class="btn btn-sm btn-success" <?php if ($factura['estado'] == 'Pagada') {
																				                                                                                echo 'disabled';
																				                                                                            } ?> data-bs-toggle="modal" data-bs-target="#confirm_<?php echo $factura['factura_id']; ?>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
																				                                            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
																				                                        </svg></button> #}
										<button type="button" class="btn btn-primary btn-sm" href="{{ path('app_invoice_edit', {'id': invoice.id}) }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down" viewbox="0 0 16 16">
												<path d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
												<path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2M9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/>
											</svg>
										</button>

										<button type="button" class="btn btn-danger btn-sm" href="{{ path('app_invoice_delete', {'id': invoice.id}) }}" onclick="return confirm('¿Deseas elmiminar este elemento?');">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
											</svg>
										</button>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="15">No existen datos disponibles</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
