{% extends 'base.html.twig' %}

{% block title %}Registro
{% endblock %}

{% block stylesheets %}
	<style>
		body {
			background-image: url({{asset('fondo.jpg')}}); /* Ruta a la imagen de fondo */
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			height: 100vh;
		}
		.form-container {
			background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco semitransparente */
			padding: 20px;
			border-radius: 10px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
	</style>
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<div class="container d-flex justify-content-center align-items-center vh-100">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="form-container">

					<h2 class="mb-3">Regístrate aquí</h2>


					{{ form_errors(registrationForm) }}

					{{ form_start(registrationForm) }}

					<div class="row mb-3">
						<div class="col">
							{{ form_label(registrationForm.name) }}
							{{ form_widget(registrationForm.name, {'attr': {'placeholder': 'Nombre'}}) }}
							{{ form_errors(registrationForm.name) }}
						</div>
						<div class="col">
							{{ form_label(registrationForm.surname) }}
							{{ form_widget(registrationForm.surname, {'attr': {'class': 'form-control', 'placeholder': 'Apellido'}}) }}
							{{ form_errors(registrationForm.surname) }}
						</div>
					</div>

					<div class="row mb-3">
						<div class="col">
							{{ form_label(registrationForm.id) }}
							{{ form_widget(registrationForm.id, {'attr': {'placeholder': 'DNI'}})  }}
							{{ form_errors(registrationForm.id) }}
						</div>
						<div class="col">{{ form_label(registrationForm.genre) }}
							{{ form_widget(registrationForm.genre, {'attr': {'class': 'form-select'}}) }}
							{{ form_errors(registrationForm.genre) }}
						</div>
					</div>


					<div class="mb-3">
						{{ form_label(registrationForm.birth_date) }}
						{{ form_widget(registrationForm.birth_date, {'attr': {'class': 'form-control'}}) }}
						{{ form_errors(registrationForm.birth_date) }}
					</div>

					<div class="row mb-3">
						<div class="col">
							{{ form_label(registrationForm.phone) }}
							{{ form_widget(registrationForm.phone, {'attr': {'class': 'form-control', 'placeholder': 'Teléfono'}}) }}
							{{ form_errors(registrationForm.phone) }}
						</div>
						<div class="col">
							{{ form_label(registrationForm.address) }}
							{{ form_widget(registrationForm.address, {'attr': {'class': 'form-control', 'placeholder': 'Dirección'}}) }}
							{{ form_errors(registrationForm.address) }}
						</div>
					</div>

					<div class="row mb-3">
						<div class="col">
							{{ form_label(registrationForm.province) }}
							{{ form_widget(registrationForm.province, {'attr': {'class': 'form-control', 'placeholder': 'Provincia'}}) }}
							{{ form_errors(registrationForm.province) }}
						</div>

						<div class="col">
							{{ form_label(registrationForm.city) }}
							{{ form_widget(registrationForm.city, {'attr': {'class': 'form-control', 'placeholder': 'Ciudad'}}) }}
							{{ form_errors(registrationForm.city) }}
						</div>

						<div class="col">
							{{ form_label(registrationForm.zip) }}
							{{ form_widget(registrationForm.zip, {'attr': {'class': 'form-control', 'placeholder': 'Código Postal'}}) }}
							{{ form_errors(registrationForm.zip) }}
						</div>
					</div>


					<div class="mb-3">
						{{ form_label(registrationForm.email) }}
						{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Correo Electrónico'}}) }}
						{{ form_errors(registrationForm.email) }}
					</div>

					<div class="mb-3">
						{{ form_label(registrationForm.plainPassword, 'Contraseña') }}
						{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Contraseña'}}) }}
						{{ form_errors(registrationForm.plainPassword) }}
					</div>

					<div class="mb-3 form-check">
						{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
						{{ form_label(registrationForm.agreeTerms, null, {'attr': {'class': 'form-check-label'}}) }}
						{{ form_errors(registrationForm.agreeTerms) }}
					</div>

					<div class="mb-3">
						<button type="submit" class="btn btn-primary">Registrarse</button>
                        <a href="#" onclick="history.back();" class="btn btn-secondary">Volver atrás</a>

					</div>
					{{ form_end(registrationForm) }}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
