{{ form_start(form) }}
<div class="mb-3">
	{{ form_label(form.name) }}
	{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Name'}}) }}
	{{ form_errors(form.name) }}
</div>

<div class="mb-3">
	{{ form_label(form.description) }}
	{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
	{{ form_errors(form.description) }}
</div>

<div class="mb-3">
	{{ form_label(form.price) }}
	{{ form_widget(form.price, {'attr': {'class': 'form-control', 'placeholder': 'Price'}}) }}
	{{ form_errors(form.price) }}
</div>

<div class="mb-3">
	{{ form_label(form.category) }}
	{{ form_widget(form.category, {'attr': {'class': 'form-select', 'placeholder': 'Category'}}) }}
	{{ form_errors(form.category) }}
</div>


<div class="mb-3">
	<button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
	<a href="#" onclick="history.back();" class="btn btn-secondary">Volver atrás</a>
</div>
{{ form_end(form) }}