{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.patient) }}
    {{ form_widget(form.patient, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.patient) }}
</div>

<div class="mb-3">
    {{ form_label(form.specialization) }}
    {{ form_widget(form.specialization, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.specialization) }}
</div>

<div class="mb-3">
    {{ form_label(form.therapist) }}
    {{ form_widget(form.therapist, {'attr': {'class': 'form-control', 'id': 'appointment_therapist'}}) }}
    {{ form_errors(form.therapist) }}
</div>

<div class="mb-3">
    {{ form_label(form.date) }}
    {{ form_widget(form.date, {'attr': {'class': 'form-control', 'id': 'appointment_date'}}) }}
    {{ form_errors(form.date) }}
</div>

<div class="mb-3">
    {{ form_label(form.time) }}
    {{ form_widget(form.time, {'attr': {'class': 'form-control', 'id': 'appointment_time'}}) }}
    {{ form_errors(form.time) }}
</div>

<div class="mb-3">
    <button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
    <a href="#" onclick="history.back();" class="btn btn-secondary">Volver atrás</a>
</div>

{{ form_end(form) }}

<script type="text/javascript">
    $(document).ready(function() {
        function updateAvailableTimes() {
            var date = $('#appointment_date').val();
            var therapistId = $('#appointment_therapist').val();

            if (date && therapistId) {
                $.ajax({
                    url: '{{ path("get_available_times") }}',
                    method: 'GET',
                    data: {
                        date: date,
                        therapist_id: therapistId
                    },
                    success: function(response) {
                        var timeSelect = $('#appointment_time');
                        timeSelect.empty();  // Limpiar las opciones actuales

                        $.each(response, function(key, value) {
                            timeSelect.append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                });
            }
        }

        $('#appointment_date').change(updateAvailableTimes);
        $('#appointment_therapist').change(updateAvailableTimes);
    });
</script>
