{% extends 'base.html.twig' %}

{% block title %}Appointment{% endblock %}

{% block body %}
    <h1>Appointment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ appointment.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ appointment.date ? appointment.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ appointment.time ? appointment.time|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Diagnosis</th>
                <td>{{ appointment.diagnosis }}</td>
            </tr>
            <tr>
                <th>Treatment</th>
                <td>{{ appointment.treatment }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ appointment.notes }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ appointment.duration }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_appointment_index') }}">back to list</a>

    <a href="{{ path('app_appointment_edit', {'id': appointment.id}) }}">edit</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
