{{ form_start(form) }}
<div class="mb-3">
	{{ form_label(form.description) }}
	{{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Descripción'}}) }}
	{{ form_errors(form.description) }}
</div>

<div class="mb-3">
	<button class="btn btn-primary">{{ button_label|default('Guardar') }}</button>
	<a href="#" onclick="history.back();" class="btn btn-secondary">Volver atrás</a>
</div>
{{ form_end(form) }}
