{% extends 'base.html.twig' %}

{% block title %}Specialization{% endblock %}

{% block body %}
    <h1>Specialization</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ specialization.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ specialization.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_specialization_index') }}">back to list</a>

    <a href="{{ path('app_specialization_edit', {'id': specialization.id}) }}">edit</a>

    {{ include('specialization/_delete_form.html.twig') }}
{% endblock %}
